.information--personal{
  background-color: #EAFFD5;
  border: 1px solid #d9d9d9;
  text-align: center;
  border-radius: 15px;
}
.information--aboutMe{
  max-width: 80%;
}
.imagen--picture{
  width: 15%;
}
.logos--aplicaciones{
  width: 2%;
}