.container--main{
  background-color: khaki;
  width: 50%;
}
.imagen--picture{
  width: 15%;
}
.main--letra{
  text-align: right;
}
.logos--aplicaciones{
  width: 40%;
}
.linea--hr1{
  margin-top: 1%;
  border: 1px 
  solid red; 
  height: 2px; 
  width: 70%;

}
.linea--hr2{
  height: 5px;
  width: 50%;
  background-color: rgb(78, 110, 88);
}